docs/ws.v2.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.inventory/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DALServiceService" targetNamespace="http://ws.inventory/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.inventory/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.inventory/">
  <xs:element name="Item" type="tns:item"></xs:element>
  <xs:element name="Supplier" type="tns:supplier"></xs:element>
  <xs:element name="addItemToSite" type="tns:addItemToSite"></xs:element>
  <xs:element name="addItemToSiteResponse" type="tns:addItemToSiteResponse"></xs:element>
  <xs:element name="deleteItems" type="tns:deleteItems"></xs:element>
  <xs:element name="deleteItemsResponse" type="tns:deleteItemsResponse"></xs:element>
  <xs:element name="deleteSupplier" type="tns:deleteSupplier"></xs:element>
  <xs:element name="deleteSupplierResponse" type="tns:deleteSupplierResponse"></xs:element>
  <xs:element name="getInventoryById" type="tns:getInventoryById"></xs:element>
  <xs:element name="getInventoryByIdResponse" type="tns:getInventoryByIdResponse"></xs:element>
  <xs:element name="getInventoryCrossSite" type="tns:getInventoryCrossSite"></xs:element>
  <xs:element name="getInventoryCrossSiteResponse" type="tns:getInventoryCrossSiteResponse"></xs:element>
  <xs:element name="getInventoryForSiteAndItemId" type="tns:getInventoryForSiteAndItemId"></xs:element>
  <xs:element name="getInventoryForSiteAndItemIdResponse" type="tns:getInventoryForSiteAndItemIdResponse"></xs:element>
  <xs:element name="getInventoryPerSite" type="tns:getInventoryPerSite"></xs:element>
  <xs:element name="getInventoryPerSiteResponse" type="tns:getInventoryPerSiteResponse"></xs:element>
  <xs:element name="getInventoryPerSupplier" type="tns:getInventoryPerSupplier"></xs:element>
  <xs:element name="getInventoryPerSupplierResponse" type="tns:getInventoryPerSupplierResponse"></xs:element>
  <xs:element name="getItemStock" type="tns:getItemStock"></xs:element>
  <xs:element name="getItemStockResponse" type="tns:getItemStockResponse"></xs:element>
  <xs:element name="getItems" type="tns:getItems"></xs:element>
  <xs:element name="getItemsPerSite" type="tns:getItemsPerSite"></xs:element>
  <xs:element name="getItemsPerSiteResponse" type="tns:getItemsPerSiteResponse"></xs:element>
  <xs:element name="getItemsResponse" type="tns:getItemsResponse"></xs:element>
  <xs:element name="getSuppliersOfItem" type="tns:getSuppliersOfItem"></xs:element>
  <xs:element name="getSuppliersOfItemResponse" type="tns:getSuppliersOfItemResponse"></xs:element>
  <xs:element name="itemById" type="tns:itemById"></xs:element>
  <xs:element name="itemByIdResponse" type="tns:itemByIdResponse"></xs:element>
  <xs:element name="itemByName" type="tns:itemByName"></xs:element>
  <xs:element name="itemByNameResponse" type="tns:itemByNameResponse"></xs:element>
  <xs:element name="newItem" type="tns:newItem"></xs:element>
  <xs:element name="newItemResponse" type="tns:newItemResponse"></xs:element>
  <xs:element name="newSupplier" type="tns:newSupplier"></xs:element>
  <xs:element name="newSupplierResponse" type="tns:newSupplierResponse"></xs:element>
  <xs:element name="sayHello" type="tns:sayHello"></xs:element>
  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"></xs:element>
  <xs:element name="sellItem" type="tns:sellItem"></xs:element>
  <xs:element name="sellItemResponse" type="tns:sellItemResponse"></xs:element>
  <xs:element name="supplierById" type="tns:supplierById"></xs:element>
  <xs:element name="supplierByIdResponse" type="tns:supplierByIdResponse"></xs:element>
  <xs:element name="supplierByName" type="tns:supplierByName"></xs:element>
  <xs:element name="supplierByNameResponse" type="tns:supplierByNameResponse"></xs:element>
  <xs:element name="suppliers" type="tns:suppliers"></xs:element>
  <xs:element name="suppliersResponse" type="tns:suppliersResponse"></xs:element>
  <xs:element name="updateInventoryEntry" type="tns:updateInventoryEntry"></xs:element>
  <xs:element name="updateInventoryEntryResponse" type="tns:updateInventoryEntryResponse"></xs:element>
  <xs:element name="updateItem" type="tns:updateItem"></xs:element>
  <xs:element name="updateItemResponse" type="tns:updateItemResponse"></xs:element>
  <xs:element name="updateSupplier" type="tns:updateSupplier"></xs:element>
  <xs:element name="updateSupplierResponse" type="tns:updateSupplierResponse"></xs:element>
  <xs:complexType name="updateInventoryEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inventory">
    <xs:sequence>
      <xs:element minOccurs="0" name="cost" type="xs:double"></xs:element>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"></xs:element>
      <xs:element minOccurs="0" name="customerId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="id" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="itemId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="quantity" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="site" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="soldPrice" type="xs:double"></xs:element>
      <xs:element minOccurs="0" name="supplierId" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="updateDate" type="xs:dateTime"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateInventoryEntryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dalFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryForSiteAndItemId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryForSiteAndItemIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItems">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItemsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getItemsPerSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getItemsPerSiteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="id" nillable="true" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
      <xs:element name="price" type="xs:double"></xs:element>
      <xs:element minOccurs="0" name="imgAlt" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="img" type="xs:string"></xs:element>
      <xs:element name="quantity" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="type" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="serialNumber" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="model" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryPerSite">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryPerSiteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSuppliersOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSuppliersOfItemResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:supplier"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="type" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="street" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="city" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="zipcode" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="state" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplierById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplierByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:supplier"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSupplier">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getItemStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getItemStockResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemById">
    <xs:sequence>
      <xs:element name="id" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addItemToSite">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"></xs:element>
      <xs:element name="arg1" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
      <xs:element name="arg3" type="xs:long"></xs:element>
      <xs:element name="arg4" type="xs:double"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addItemToSiteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryPerSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryPerSupplierResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryCrossSite">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInventoryCrossSiteResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sellItem">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"></xs:element>
      <xs:element name="arg1" type="xs:int"></xs:element>
      <xs:element minOccurs="0" name="arg2" type="xs:string"></xs:element>
      <xs:element name="arg3" type="xs:long"></xs:element>
      <xs:element name="arg4" type="xs:double"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sellItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:inventory"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getItems">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="getItemsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplierByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supplierByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:supplier"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:supplier"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:supplier"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newSupplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:supplier"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newSupplierResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:supplier"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="suppliers">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="suppliersResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:supplier"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DALFault" nillable="true" type="tns:dalFault"></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateInventoryEntry">
    <wsdl:part element="tns:updateInventoryEntry" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryForSiteAndItemId">
    <wsdl:part element="tns:getInventoryForSiteAndItemId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateInventoryEntryResponse">
    <wsdl:part element="tns:updateInventoryEntryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemsPerSite">
    <wsdl:part element="tns:getItemsPerSite" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryById">
    <wsdl:part element="tns:getInventoryById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DALException">
    <wsdl:part element="tns:DALFault" name="DALException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryByIdResponse">
    <wsdl:part element="tns:getInventoryByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSuppliersOfItem">
    <wsdl:part element="tns:getSuppliersOfItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryCrossSiteResponse">
    <wsdl:part element="tns:getInventoryCrossSiteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSupplier">
    <wsdl:part element="tns:deleteSupplier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="suppliersResponse">
    <wsdl:part element="tns:suppliersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryPerSiteResponse">
    <wsdl:part element="tns:getInventoryPerSiteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryPerSupplierResponse">
    <wsdl:part element="tns:getInventoryPerSupplierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItemsResponse">
    <wsdl:part element="tns:deleteItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryPerSupplier">
    <wsdl:part element="tns:getInventoryPerSupplier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryCrossSite">
    <wsdl:part element="tns:getInventoryCrossSite" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sellItem">
    <wsdl:part element="tns:sellItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByNameResponse">
    <wsdl:part element="tns:itemByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="supplierByName">
    <wsdl:part element="tns:supplierByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByIdResponse">
    <wsdl:part element="tns:itemByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="supplierByNameResponse">
    <wsdl:part element="tns:supplierByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newSupplier">
    <wsdl:part element="tns:newSupplier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryForSiteAndItemIdResponse">
    <wsdl:part element="tns:getInventoryForSiteAndItemIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSuppliersOfItemResponse">
    <wsdl:part element="tns:getSuppliersOfItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemStockResponse">
    <wsdl:part element="tns:getItemStockResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItems">
    <wsdl:part element="tns:deleteItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSupplierResponse">
    <wsdl:part element="tns:updateSupplierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryPerSite">
    <wsdl:part element="tns:getInventoryPerSite" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addItemToSiteResponse">
    <wsdl:part element="tns:addItemToSiteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="supplierById">
    <wsdl:part element="tns:supplierById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateItem">
    <wsdl:part element="tns:updateItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemStock">
    <wsdl:part element="tns:getItemStock" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="supplierByIdResponse">
    <wsdl:part element="tns:supplierByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newItem">
    <wsdl:part element="tns:newItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemById">
    <wsdl:part element="tns:itemById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateItemResponse">
    <wsdl:part element="tns:updateItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addItemToSite">
    <wsdl:part element="tns:addItemToSite" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSupplierResponse">
    <wsdl:part element="tns:deleteSupplierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByName">
    <wsdl:part element="tns:itemByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newItemResponse">
    <wsdl:part element="tns:newItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItems">
    <wsdl:part element="tns:getItems" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateSupplier">
    <wsdl:part element="tns:updateSupplier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemsPerSiteResponse">
    <wsdl:part element="tns:getItemsPerSiteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newSupplierResponse">
    <wsdl:part element="tns:newSupplierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="suppliers">
    <wsdl:part element="tns:suppliers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sellItemResponse">
    <wsdl:part element="tns:sellItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getItemsResponse">
    <wsdl:part element="tns:getItemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DALService">
    <wsdl:operation name="updateInventoryEntry">
      <wsdl:input message="tns:updateInventoryEntry" name="updateInventoryEntry">
    </wsdl:input>
      <wsdl:output message="tns:updateInventoryEntryResponse" name="updateInventoryEntryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryForSiteAndItemId">
      <wsdl:input message="tns:getInventoryForSiteAndItemId" name="getInventoryForSiteAndItemId">
    </wsdl:input>
      <wsdl:output message="tns:getInventoryForSiteAndItemIdResponse" name="getInventoryForSiteAndItemIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItems">
      <wsdl:input message="tns:deleteItems" name="deleteItems">
    </wsdl:input>
      <wsdl:output message="tns:deleteItemsResponse" name="deleteItemsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItemsPerSite">
      <wsdl:input message="tns:getItemsPerSite" name="getItemsPerSite">
    </wsdl:input>
      <wsdl:output message="tns:getItemsPerSiteResponse" name="getItemsPerSiteResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryById">
      <wsdl:input message="tns:getInventoryById" name="getInventoryById">
    </wsdl:input>
      <wsdl:output message="tns:getInventoryByIdResponse" name="getInventoryByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryPerSite">
      <wsdl:input message="tns:getInventoryPerSite" name="getInventoryPerSite">
    </wsdl:input>
      <wsdl:output message="tns:getInventoryPerSiteResponse" name="getInventoryPerSiteResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSuppliersOfItem">
      <wsdl:input message="tns:getSuppliersOfItem" name="getSuppliersOfItem">
    </wsdl:input>
      <wsdl:output message="tns:getSuppliersOfItemResponse" name="getSuppliersOfItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="supplierById">
      <wsdl:input message="tns:supplierById" name="supplierById">
    </wsdl:input>
      <wsdl:output message="tns:supplierByIdResponse" name="supplierByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdl:input message="tns:updateItem" name="updateItem">
    </wsdl:input>
      <wsdl:output message="tns:updateItemResponse" name="updateItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplier">
      <wsdl:input message="tns:deleteSupplier" name="deleteSupplier">
    </wsdl:input>
      <wsdl:output message="tns:deleteSupplierResponse" name="deleteSupplierResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItemStock">
      <wsdl:input message="tns:getItemStock" name="getItemStock">
    </wsdl:input>
      <wsdl:output message="tns:getItemStockResponse" name="getItemStockResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newItem">
      <wsdl:input message="tns:newItem" name="newItem">
    </wsdl:input>
      <wsdl:output message="tns:newItemResponse" name="newItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemById">
      <wsdl:input message="tns:itemById" name="itemById">
    </wsdl:input>
      <wsdl:output message="tns:itemByIdResponse" name="itemByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addItemToSite">
      <wsdl:input message="tns:addItemToSite" name="addItemToSite">
    </wsdl:input>
      <wsdl:output message="tns:addItemToSiteResponse" name="addItemToSiteResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryPerSupplier">
      <wsdl:input message="tns:getInventoryPerSupplier" name="getInventoryPerSupplier">
    </wsdl:input>
      <wsdl:output message="tns:getInventoryPerSupplierResponse" name="getInventoryPerSupplierResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryCrossSite">
      <wsdl:input message="tns:getInventoryCrossSite" name="getInventoryCrossSite">
    </wsdl:input>
      <wsdl:output message="tns:getInventoryCrossSiteResponse" name="getInventoryCrossSiteResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sellItem">
      <wsdl:input message="tns:sellItem" name="sellItem">
    </wsdl:input>
      <wsdl:output message="tns:sellItemResponse" name="sellItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="itemByName">
      <wsdl:input message="tns:itemByName" name="itemByName">
    </wsdl:input>
      <wsdl:output message="tns:itemByNameResponse" name="itemByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <wsdl:input message="tns:getItems" name="getItems">
    </wsdl:input>
      <wsdl:output message="tns:getItemsResponse" name="getItemsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="supplierByName">
      <wsdl:input message="tns:supplierByName" name="supplierByName">
    </wsdl:input>
      <wsdl:output message="tns:supplierByNameResponse" name="supplierByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateSupplier">
      <wsdl:input message="tns:updateSupplier" name="updateSupplier">
    </wsdl:input>
      <wsdl:output message="tns:updateSupplierResponse" name="updateSupplierResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newSupplier">
      <wsdl:input message="tns:newSupplier" name="newSupplier">
    </wsdl:input>
      <wsdl:output message="tns:newSupplierResponse" name="newSupplierResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="suppliers">
      <wsdl:input message="tns:suppliers" name="suppliers">
    </wsdl:input>
      <wsdl:output message="tns:suppliersResponse" name="suppliersResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DALServiceServiceSoapBinding" type="tns:DALService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="updateInventoryEntry">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateInventoryEntry">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateInventoryEntryResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryForSiteAndItemId">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getInventoryForSiteAndItemId">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getInventoryForSiteAndItemIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItems">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteItems">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteItemsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItemsPerSite">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getItemsPerSite">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getItemsPerSiteResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getInventoryById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getInventoryByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryPerSite">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getInventoryPerSite">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getInventoryPerSiteResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="supplierById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="supplierById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="supplierByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSuppliersOfItem">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getSuppliersOfItem">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getSuppliersOfItemResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateItem">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateItemResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplier">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteSupplier">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteSupplierResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItemStock">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getItemStock">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getItemStockResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newItem">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="newItem">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="newItemResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sayHello">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="itemById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="itemByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addItemToSite">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="addItemToSite">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="addItemToSiteResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryPerSupplier">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getInventoryPerSupplier">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getInventoryPerSupplierResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInventoryCrossSite">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getInventoryCrossSite">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getInventoryCrossSiteResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sellItem">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sellItem">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sellItemResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="itemByName">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="itemByName">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="itemByNameResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItems">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getItems">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getItemsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="supplierByName">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="supplierByName">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="supplierByNameResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateSupplier">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateSupplier">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateSupplierResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newSupplier">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="newSupplier">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="newSupplierResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="suppliers">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="suppliers">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="suppliersResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DALServiceService">
    <wsdl:port binding="tns:DALServiceServiceSoapBinding" name="DALServicePort">
      <soap:address location="http://172.16.249.79:9080/inventory/ws"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>