docs/ws.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.inventory/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="InventoryServiceService" targetNamespace="http://ws.inventory/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.inventory/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.inventory/">
  <xs:element name="Item" type="tns:item"></xs:element>
  <xs:element name="deleteItem" type="tns:deleteItem"></xs:element>
  <xs:element name="deleteItemResponse" type="tns:deleteItemResponse"></xs:element>
  <xs:element name="itemById" type="tns:itemById"></xs:element>
  <xs:element name="itemByIdResponse" type="tns:itemByIdResponse"></xs:element>
  <xs:element name="itemByName" type="tns:itemByName"></xs:element>
  <xs:element name="itemByNameResponse" type="tns:itemByNameResponse"></xs:element>
  <xs:element name="items" type="tns:items"></xs:element>
  <xs:element name="itemsResponse" type="tns:itemsResponse"></xs:element>
  <xs:element name="newItem" type="tns:newItem"></xs:element>
  <xs:element name="newItemResponse" type="tns:newItemResponse"></xs:element>
  <xs:element name="sayHello" type="tns:sayHello"></xs:element>
  <xs:element name="sayHelloResponse" type="tns:sayHelloResponse"></xs:element>
  <xs:element name="updateItem" type="tns:updateItem"></xs:element>
  <xs:element name="updateItemResponse" type="tns:updateItemResponse"></xs:element>
  <xs:complexType name="items">
    <xs:sequence></xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element name="id" type="xs:long"></xs:element>
      <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
      <xs:element name="price" type="xs:double"></xs:element>
      <xs:element minOccurs="0" name="imgAlt" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="img" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dalFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="message" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByName">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItem">
    <xs:sequence>
      <xs:element name="id" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="newItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sayHelloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemById">
    <xs:sequence>
      <xs:element name="id" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:item"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DALFault" nillable="true" type="tns:dalFault"></xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateItemResponse">
    <wsdl:part element="tns:updateItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="items">
    <wsdl:part element="tns:items" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItemResponse">
    <wsdl:part element="tns:deleteItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByName">
    <wsdl:part element="tns:itemByName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByNameResponse">
    <wsdl:part element="tns:itemByNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteItem">
    <wsdl:part element="tns:deleteItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newItemResponse">
    <wsdl:part element="tns:newItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DALException">
    <wsdl:part element="tns:DALFault" name="DALException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateItem">
    <wsdl:part element="tns:updateItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHelloResponse">
    <wsdl:part element="tns:sayHelloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemByIdResponse">
    <wsdl:part element="tns:itemByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemsResponse">
    <wsdl:part element="tns:itemsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newItem">
    <wsdl:part element="tns:newItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHello">
    <wsdl:part element="tns:sayHello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="itemById">
    <wsdl:part element="tns:itemById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InventoryService">
    <wsdl:operation name="items">
      <wsdl:input message="tns:items" name="items">
    </wsdl:input>
      <wsdl:output message="tns:itemsResponse" name="itemsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <wsdl:input message="tns:updateItem" name="updateItem">
    </wsdl:input>
      <wsdl:output message="tns:updateItemResponse" name="updateItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="itemByName">
      <wsdl:input message="tns:itemByName" name="itemByName">
    </wsdl:input>
      <wsdl:output message="tns:itemByNameResponse" name="itemByNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <wsdl:input message="tns:deleteItem" name="deleteItem">
    </wsdl:input>
      <wsdl:output message="tns:deleteItemResponse" name="deleteItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newItem">
      <wsdl:input message="tns:newItem" name="newItem">
    </wsdl:input>
      <wsdl:output message="tns:newItemResponse" name="newItemResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <wsdl:input message="tns:sayHello" name="sayHello">
    </wsdl:input>
      <wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemById">
      <wsdl:input message="tns:itemById" name="itemById">
    </wsdl:input>
      <wsdl:output message="tns:itemByIdResponse" name="itemByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DALException" name="DALException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryServiceServiceSoapBinding" type="tns:InventoryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="items">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="items">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="itemsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateItem">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="updateItem">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="updateItemResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="itemByName">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="itemByName">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="itemByNameResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteItem">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="deleteItem">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="deleteItemResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newItem">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="newItem">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="newItemResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sayHello">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="sayHello">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="sayHelloResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemById">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="itemById">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="itemByIdResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
      <wsdl:fault name="DALException">
        <soap:fault name="DALException" use="literal"></soap:fault>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryServiceService">
    <wsdl:port binding="tns:InventoryServiceServiceSoapBinding" name="InventoryServicePort">
      <soap:address location="http://localhost:9080/inventory/ws"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>